body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

#table-container {
    border: 1px solid #ccc;
    overflow-y: auto;
}

.field-row { 
  margin-bottom: 10px; 
}

.field-row select, 
.field-row input { 
  width: 100%; 
}

table, th, td { 
  border: 1px solid black; 
  border-collapse: collapse; 
  padding: 5px; 
}
